@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: url("../fonts/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter-Italic.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Jellee';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Jellee-Bold.woff2") format("woff2"), url("../fonts/Jellee-Bold.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Sora-Light.woff2") format("woff2"), url("../fonts/Sora-Light.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Sora-Regular.woff2") format("woff2"), url("../fonts/Sora-Regular.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Sora-Medium.woff2") format("woff2"), url("../fonts/Sora-Medium.woff2") format("woff");
}