@keyframes blink {
  50% {
    opacity: 0;
  }
};

@keyframes slide-up {
  0% {
    transform: translateY(-100%);
  } 100% {
    transform: translateY(-5%);
  }
};

%padding {
  padding: 0 1.25rem 8.5vh;
}

%space-between {
  display: flex;
  justify-content: space-between;
}

%tight {
  letter-spacing: -0.75px;
}

%transition {
  transition: all 300ms ease-out;
}

.header {
  background-color: #fff;
  font-size: 0.875rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  div {
    @extend %space-between;
    @extend %tight;
    background-color: $bgPrimary;
    padding: 1.25rem;

    em,
    span.number {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
    }    

    span.blink {
      animation: blink 900ms cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
      color: $primary;
      font-size: 1.0625rem;
      margin: 0 -0.0625rem;
    }
  }
}

.hero {
  padding: 5rem 1.25rem 8vh;

  h1,
  h2 {
    @extend %tight;
    display: flex;
    flex-direction: column;
    font-family: Jellee, sans-serif;
    font-size: 13vw;
    text-shadow: 0 2px 5px rgba($primary, 0.275);
    text-transform: uppercase;
  }

  h2 {
    color: $primary;
    justify-content: flex-end;
    padding: 1.5rem 0 0;
    text-align: right;
    text-shadow: 0 2px 5px rgba($darkGrey, 0.275);

    span.word-wrap {
      span:hover {
        color: rgba($primary, 0.75);
        text-shadow: 0 2px 5px #fafafa;
      }
    }
  }
  
  span.word-wrap {
    span {
      @extend %transition;

      &:hover {
        color: rgba($darkGrey, 0.75);
        text-shadow: 0 2px 5px #fafafa;
      }
    }
  }
}

.about {
  @extend %padding;
  width: 85%;

  a,
  b {
    color: $primary;
    font-weight: 500;
  }

  a {
    display: inline-flex;
    overflow: hidden;
    position: relative;
    
    &::after {
      @extend %transition;
      background-color: rgba($primary, 0.25);
      content: "";
      display: inline-block;
      left: 0;
      position: absolute;
      height: 55%;
      bottom: -0.125rem;
      transform: translateY(100%);
      width: 100%;
    }

    &:hover {
      &::after {
        transform: translateY(-0.125rem);
      }
    }
  }

  p {
    color: $lightGrey;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 1.25;
    padding: 0 0 1.125rem;
    text-transform: lowercase;

    &:last-child {
      padding: 0;

      span {
        white-space: nowrap;
      }
    }
  }
}

.works {
  @extend %padding;

  .project {
    list-style: none;
    padding: 0 0 1rem;
    position: relative;

    &__title {
      @extend %space-between;
      align-items: center;
      padding: 0 0 0.75rem;
      position: relative;
      
      &:hover {
        .project__name {
          span {
            transform: translateY(0);
    
            &::after {
              transform: translateY(0);
            }
          }
        }

        .project__btn {
          span {
            transform: translate3d(100%, -100%, 0.5rem);
          }
        }
      }
    }

    &__name {
      @extend %transition;
      font-size: 1.5rem;
      font-weight: 500;
      position: relative;

      span {
        @extend %transition;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform: translateY(100%);

        &::after {
          @extend %transition;
          color: $primary;
          content: attr(data-content);
          display: block;
          transform: translateY(-100%);
        }
      }
    }
    
    &__btn {
      display: flex;
      overflow: hidden;
      position: relative;

      span {
        @extend %transition;
        color: $primary;
        height: 2.25rem;
        margin: 0 0 0 0.25rem;
        width: 1.5rem;

        svg {
          height: 100%;
          width: 100%;
        }

        &:last-child {
          color: $darkGrey;
          bottom: -100%;
          left: -100%;
          position: absolute;
        }
      }
    }

    &__desc {
      p {
        color: $lightGrey;
        font-size: 0.875rem;
        text-transform: lowercase;

        &:last-child {
          color: $primary;
        }
      }
    }

    &::after {
      bottom: 0;
      content: "";
      background: $lightGrey;
      height: 0.0625rem;
      left: 0;
      position: absolute;
      transition: 200ms ease-in;
      width: 100%;
    }

    &:not(:first-child) {
      margin: 3rem 0 0;
    }
  }
}

.contact {
  @extend %padding;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 1rem;
  }

  .contact-link {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    
    a {
      color: $lightGrey;
      position: relative;
      overflow: hidden;
  
      span {
        @extend %transition;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform: translateY(100%);

        &::after {
          @extend %transition;
          color: $primary;
          content: attr(data-content);
          display: inline-block;
          transform: translateY(-100%);
        }
      }
  
      &:hover {
        span {
          transform: translateY(0);
  
          &::after {
            transform: translateY(0);
          }
        }
      } 
    }

    &:not(:last-child) {
      margin: 0 0.25rem 0 0;
    }
  }
}

@media (min-width: 410px) {
  .about {  
    p:last-child {
      span {
        white-space: normal;
      }
    }
  }
}

@media (min-width: 640px) {
  .header {
    div {
      padding: 1.5rem 2rem;
    }
  }

  .hero {
    padding: 10vh 2rem;
  }

  .about {
    padding: 0 2rem 10vh;
    width: 67.5%;
  }

  .works {
    padding: 0 2rem 10vh;

    ul {
      display: grid;
      gap: 6.5vw;
      grid-template-columns: repeat(2, 1fr);

      .project:not(:first-child) {
        margin: 0;
      }
    }    
  }

  .contact {
    padding: 0 2rem 10vh;
  }
}

@media (min-width: 768px) {
  .hero {
    h1,
    h2 {
      font-size: 10vw;
    }
  }

  .about {
    p {
      letter-spacing: 0;
    }
  }
}

@media (min-width: 1280px) {
  .header {
    div {
      padding: 1.5rem 7.25vw;
    }
  }

  .hero {
    padding: 12.5vh 7.25vw;

    h1,
    h2 {
      flex-direction: row;
      font-size: 7vw;

      span.word-wrap {
        margin: 0 3vw 0 0;
      }
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 7.25vw 7.25vw;
    position: relative;
  }

  .about {
    padding: 0;
    width: 37.5%;
  }

  .works {
    width: 60%;
    padding: 0 0 0 10%;

    h3 {
      padding: 0 0 2rem;
    }

    ul {
      gap: 4.5vw 6.5vw;
    }
  }

  .contact {
    bottom: 7.25vw;
    left: 7.25vw;
    padding: 0;
    position: absolute;

    h3 {
      display: none;
    }

    ul {
      padding: 0;
    }
  }
}