$bgPrimary: #f9a8260d;
$darkGrey: #3C4149;
$lightGrey: #63656a;
$primary: #0000ee;

%space-between {
  display: flex;
  justify-content: space-between;
}

%tight {
  letter-spacing: -0.75px;
}

%transition {
  transition: transform 300ms ease-out;
}