$fontSans: "Rubik", "Inter", Helvetica, Arial, sans-serif;

$colors: (
  "bg": #191919,
  "text": #e9e1e9,
  "primary": #c66be4,
  "textLight": #bbb,
  "textStrong": #fff,
);

$colorsLight: (
  "bg": #f5f5f5,
  "primary": #8c22af,
  "text": #444,
  "textLight": #666,
  "textStrong": #333,
);

@mixin maxContent {
  margin: 0 auto;
  max-width: 45rem;
}
