$bgDark: #191919;
$lightGrey: #bbb;
$primary: #c66be4;
$textWhite: #e9e1e9;
$white: #fff;

$fontInter: "Inter", Helvetica, Arial, sans-serif;

@mixin maxContent {
  margin: 0 auto;
  max-width: 42rem;
}
