$fontSans: "Karla", "Inter", Helvetica, Arial, sans-serif;

$colors: (
  "bg": #191919,
  "text": #e9e1e9,
  "primary": #c66be4,
  "textLight": #bbb,
  "textStrong": #fff,
);

$colorsDark: (
  "bg": #eee,
  "primary": #8c22af,
  "text": #111,
  "textLight": #444,
  "textStrong": #222,
);

@mixin maxContent {
  margin: 0 auto;
  max-width: 42.475rem;
}
